name: OpenCart Selenium Java CI with Maven

on:
  workflow_dispatch:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  schedule:
    - cron: '0 22 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # Install Chrome + ChromeDriver (Working)
    - name: Install Chrome + ChromeDriver
      uses: nanasess/setup-chromedriver@v1

    - name: Verify Chrome installation
      run: |
        google-chrome --version
        chromedriver --version

    # Run Tests
    - name: Run Maven Tests (Headless)
      run: mvn clean test -Dbrowser=chrome -Dheadless=true -Dexecution_env=ci
